<!-- 
    BUILD NOTES: 
 1. Host on Azure after finishing app


-->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Coffee Log</h1>
    <p>Record data about your brew.</p>
</div>
